.App {
  text-align: center;
}

.my-h1 {
  color: rgb(207, 101, 101);
  text-align: center;
}
.my-button {
  text-align: center;
  background-color: brown;
  border: 2px solid black;
}
button:focus {
  outline: 0 none;
}
h2 {
  text-align: center;
}
